/* =========================
ESTILO GENERAL
========================= */

body{

background:linear-gradient(135deg,#f5f5f5,#e9ecef);

font-family:"Segoe UI", Arial, sans-serif;

margin:0;

}
/* =========================
CONTENEDOR GENERAL
========================= */

.container{
width:100%;
max-width:100%;
margin:auto;
padding:0 20px;
}

table{
width:100%;
}


.card{

animation:fadeUp 0.8s ease;

}

@keyframes fadeUp{

from{
opacity:0;
transform:translateY(20px);
}

to{
opacity:1;
transform:translateY(0);
}

}


/* =========================
TITULO
========================= */

.titulo{

background:#f28c28;
color:white;

width:80%;
margin:2px auto;

padding:1px;

text-align:center;

border-radius:10px;

}
/* =========================
TARJETAS
========================= */

.tarjetas{

display:flex;
justify-content:center;
gap:15px;
margin-top:15px;
flex-wrap:wrap;

}


.card{

background:white;

padding:20px;

border-radius:10px;

width:150px;   /* ancho de la tarjeta */

min-height:20px;  /* altura mínima */

text-align:center;

box-shadow:0 3px 8px rgba(0,0,0,0.08);

}

.card h2{

margin:0;

font-size:22px;

color:#333;

}

.card p{

margin-top:4px;

font-size:12px;

color:#666;

}



/* =========================
FILTROS
========================= */

.filtros{

display:grid;

grid-template-columns: repeat(5, 1fr);

gap:28px;

width:85%;

margin:20px auto;

}

.filtros select{

width:100%;

padding:12px 14px;

border-radius:8px;

border:1px solid #FCC96C;

font-size:14px;

background:white;

box-shadow:0 3px 8px rgba(0,0,0,0.08);

}

.filtros select:hover{

border-color:#f28c28;

box-shadow:0 4px 10px rgba(0,0,0,0.12);

}

/* =========================
LINEA
========================= */

hr{

width:90%;
margin:auto;
margin-top:15px;
border:1px solid #f28c28;

}



/* =========================
GRAFICOS SUPERIORES
========================= */

.graficos{

display:grid;

grid-template-columns:1fr 1fr 1fr;

gap:20px;

width:90%;

margin:auto;

margin-top:20px;

}



/* CAJA GRAFICO */

.grafico{

background:white;

border-radius:10px;

box-shadow:0 3px 8px rgba(0,0,0,0.08);

padding:12px;

}



/* TITULO GRAFICO */

.grafico h3{

font-size:14px;

text-align:center;

margin-bottom:8px;

color:#f28c28;

}



/* TAMAÑO DEL GRAFICO */

canvas{

max-height:200px;
width:100%;

}



/* =========================
CONTENEDOR INFERIOR
TABLA + GRAFICO
========================= */

.contenedor-inferior{

display:grid;
grid-template-columns:1fr;

gap:20px;

width:90%;

margin:auto;
margin-top:20px;

align-items:start;

}




/* =========================
TABLA
========================= */
.tabla{

width:100%;

height:365px;   /* altura fija */

overflow-y:auto;   /* scroll vertical */

background:white;

border-radius:10px;

box-shadow:0 3px 8px rgba(0,0,0,0.08);

}
.tabla table thead th{

position:sticky;

top:0;

background:#f28c28;   /* color del encabezado */

color:white;

z-index:3;

box-shadow:0 2px 4px rgba(0,0,0,0.15);

}

.tabla h3{

background:#f28c28;

color:white;

padding:8px;

font-size:14px;

border-radius:6px 6px 0 0;

text-align:center;

margin:0;

}



table{

width:100%;

border-collapse:collapse;

background:white;

}



th{

background:#FAE8B4;

color:white;

padding:12px;

font-size:14px;

font-weight:600;

}


td{

padding:12px 14px;

font-size:14px;   /* letra más grande */

border-bottom:1px solid #FCC96C;   /* línea entre filas */
text-align:center;
}

tbody tr:hover{

background:#FAE8B4;

cursor:pointer;

transition:0.2s;

}


tr:hover{

background:#FCC96C;

}

.card{

transition:all 0.3s ease;

}

.card:hover{

transform:translateY(-6px) scale(1.03);

box-shadow:0 10px 25px rgba(0,0,0,0.15);

}

/* =========================
RESPONSIVE
========================= */

@media(max-width:1000px){

.graficos{

grid-template-columns:1fr;

}

.contenedor-inferior{

grid-template-columns:1fr;

}

.tarjetas{

flex-direction:column;

align-items:center;

}

}

.titulo{

background:#f28c28;
max-width:1200px;
margin:20px auto;
padding:5px;
border-radius:12px;

}

.header-contenido{

display:flex;
align-items:center;
justify-content:space-between;

}

.titulo h1{

color:white;
font-size:28px;
margin:0;
text-align:center;
flex:1;

}

.logo-izq{

height:90px;

}

.logo-der{

height:80px;

}
.contenedor-header{

position:relative;
max-width:1200px;
margin:20px auto;

}

.titulo{

background:#f28c28;
padding:12px;
border-radius:12px;

}

.header-contenido{

display:flex;
align-items:center;
justify-content:center;
gap:20px;

}

.titulo h1{

color:white;
margin:0;
font-size:28px;

}

.logo-izq{

height:45px;

}

.logo-empresa{

position:absolute;
right:-90px;
top:5px;
height:60px;

}
/* NAVBAR */

.navbar{

display:flex;
justify-content:space-between;
align-items:center;

background:white;

padding:10px 40px;

box-shadow:0 2px 6px rgba(0,0,0,0.1);

}

/* lado izquierdo */

.nav-izq{

display:flex;
align-items:center;
gap:15px;

}

.logo{

height:45px;

}

/* nombre empresa */

.empresa h2{

margin:0;
font-size:22px;
color:#2c6b7c;

}

.empresa span{

font-size:12px;
color:#777;

}

/* menu */

.menu{
display:flex;
align-items:center;
gap:30px;
}

.menu a{

text-decoration:none;

color:#2b2b2b;

font-weight:600;

font-size:16px;

padding:8px 18px;

border-radius:10px;

transition:all 0.25s ease;

}

.menu a:hover{

background:#9fbfc3;

color:#1b5e20;

}

.menu a{

position:relative;

}

.menu a::after{

content:"";

position:absolute;

left:10px;

bottom:2px;

width:0;

height:2px;

background:#f28c28;

transition:0.3s;

}

.menu a:hover::after{

width:70%;

}
.card{

animation:subir 0.6s ease;

}

@keyframes subir{

from{

opacity:0;
transform:translateY(20px);

}

to{

opacity:1;
transform:translateY(0);

}

}
.card{

transition:all 0.3s ease;

}

.card:hover{

transform:translateY(-5px);
box-shadow:0 8px 20px rgba(0,0,0,0.15);

}

.footer-dashboard{
background:#f28c28;
color:white;
padding:25px;
margin-top:40px;
}

.footer-contenido{
display:flex;
justify-content:space-between;
align-items:center;
max-width:1200px;
margin:auto;
flex-wrap:wrap;
}

.footer-izq h3{
margin:0;
font-size:18px;
}

.footer-izq p{
margin:4px 0;
opacity:0.9;
}

.footer-der{
text-align:right;
font-size:14px;
opacity:0.9;
}



.footer-dashboard{
background:white;
border-top:3px solid #f28c28;
padding:20px;
margin-top:40px;
}

.footer-contenido{
display:flex;
align-items:center;
gap:20px;
max-width:1200px;
margin:auto;
}

.footer-logo img{
height:40px;
}

.footer-texto h3{
margin:0;
color:#2c3e50;
font-weight:600;
}

.footer-texto p{
margin:3px 0;
color:#6c757d;
font-size:14px;
}

.footer-dashboard{
background:white;
border-top:3px solid #f28c28;
padding:25px 5px;
}

.footer-contenido{
display:flex;
justify-content:space-between;
align-items:center;
}

.footer-izquierda{
display:flex;
align-items:center;
gap:15px;
position:relative;
left:-80px;   /* mueve hacia la izquierda */
}

.footer-logo{
height:55px;
}

.footer-titulo h2{
margin:0;
font-size:40px;
color:#2c3e50;
font-weight:700;
}

.footer-titulo p{
margin:0;
font-size:17px;
color:#6c757d;
}

.footer-derecha h3{
margin:0;
font-size:20px;
color:#2c3e50;
}

.footer-derecha p{
margin:3px 0;
font-size:14px;
color:#6c757d;
}
.fila-total{
background:#FAE8B4;
font-weight:bold;
border-top:3px solid #f28c28;
position:sticky;
bottom:0;
z-index:2;
}

tfoot{
background:#FCC96C;
font-weight:bold;
border-top:2px solid #f28c28;
position:sticky;
bottom:0;
}


.btn-exportar{

background:#f28c28;
color:white;

border:none;
padding:12px 20px;

border-radius:8px;
font-size:14px;

cursor:pointer;

box-shadow:0 3px 8px rgba(0,0,0,0.15);

transition:0.2s;

}

.btn-exportar:hover{

background:#FCC96C;
transform:scale(1.05);

}

/* =====================================================
   DROPDOWN (MENU MP)
===================================================== */

/* BOTON MP */

.dropdown > a{

text-decoration:none;
color:#232623;
font-weight:500;
font-size:16px;

padding:12px 28px;   /* ← más grande */

border-radius:10px;
transition:0.3s;

}

.dropdown{
position:relative;
}



.dropdown-content a{

display:block;
padding:10px 20px;

color:#00b894;

}

.dropdown-content a:hover{

background:#00b894;
color:white;

}

.dropdown:hover .dropdown-content{

display:block;

}
.dropdown > a:hover{

background:#9BC7CE; 
color:#2e7d32;

}

.dropdown-content{

display:none;
position:absolute;

top:100%;
left:0;

background:white;

border-radius:6px;
box-shadow:0 5px 15px rgba(0,0,0,0.2);

z-index:2000;   /* importante */

}

/* primer item del menu */
.dropdown-content a:first-child{
border-top-left-radius:10px;
border-top-right-radius:10px;
}

/* ultimo item del menu */
.dropdown-content a:last-child{
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
}



